@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --ff-content: 'Rubik', sans-serif;
    --fz-title: 1.4rem;
    --fz-content: 1.6rem;
}


body{
    width: 100vw;
    height: 100vh;
    
    background: #8257e5;
    background: linear-gradient(169deg, #8257e5 0%, rgba(39,26,69,1) 100%);

    display: flex;
    place-items: center;

    font-family: var(--ff-content);
}

#page{
    display: flex;
    flex-direction: column;

    margin: auto;
}

#page h1{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.ticket{
    display: flex;
    flex-direction: column;
    width: 327px;
    margin: auto;
}

.ticket h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
}

.flight-info, .passenger-info, .boarding-info  p{
    color: rgba(0, 0, 0, 0.88);
    font-weight: 500;
    font-size: 1.6rem;
}

.flight-info{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;

    background-color: #FFFFFF;
    background-image: radial-gradient(circle at left bottom, #55369c 1.5rem, transparent 0% ),
    radial-gradient(circle at right bottom, #55369c 1.5rem, transparent 0% );

    padding: 2.4rem 3.2rem;
}

.flight-info div{
    display: flex;
    justify-content: space-between;
}


.flight-info > div:nth-child(2){
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 1rem;
   align-items: center;
}

.flight-info > div:nth-child(2) p{
    font-size: 4rem;
}

#flight-number, #flight-date, #departure, #arrival{
    display: flex;
    flex-direction: column;
}
#flight-date, #arrival{
    align-items: flex-end;
}

#departure{
    align-items: flex-start;
}

#arrival{
    position: relative;
}

#time-departure, #time-arrival, #time-add{
    font-size: 1.4rem;
    font-weight: 400;
}

#time-add{
    position: absolute;
    bottom: 1rem;
    right: -1rem;
}
#divider{
    border: 1px dashed rgba(0, 0, 0, 0.32);
    background-color: #FFFFFF;
    flex-grow: 3;
    width: 29.5rem;
    margin: auto;
}

.passenger-info, .boarding-info{
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 3.2rem;
}

.passenger-info{
    background-color: #FFFFFF;
    background-image: radial-gradient(circle at left top, #55369c 1.5rem, transparent 0% ),
    radial-gradient(circle at right top, #55369c 1.5rem, transparent 0% ),
    radial-gradient(circle at left bottom, #55369c 1.5rem, transparent 0% ),
    radial-gradient(circle at right bottom, #55369c 1.5rem, transparent 0% );
}

.boarding-info{
    background-color: #FFFFFF;
    background-image: radial-gradient(circle at left top, #55369c 1.5rem, transparent 0% ),
    radial-gradient(circle at right top, #55369c 1.5rem, transparent 0% );
}

.boarding-info div:nth-child(1) h2{
    margin: 1rem 0;
}

.boarding-info span{
    background: #633BBC;
    
    border-radius: 8px;
    
    padding: 4px 8px;

    color: #FFFFFF;
}

.boarding-info img{
    width: 160px;
    height: 160px;
}

.info-gate{
    background-color: #FFFFFF;

    text-align: center;

    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;

    padding-bottom: 2.4rem;
}

.info-gate p{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
}

.info-gate span{
    font-weight: 500;
    
}

footer{
    margin-top: 2rem;
    color: #FFFFFF;
    opacity: 0.64;

}

